<div class="card mb-4" >
    <div class="btn" (click)="clickFunction()">
        <img src="{{book.photourl || './assets/book.png'}}" alt="{{book.id}}" class="card-img-top">
        
        <hr style="color:yellowgreen;">
    </div>
    <div class="card-body p-1" >
        <div style="height: 80px;"> 
            <h6 class="card-title mr mb-1">
                {{book.title}}
            </h6>
            <p class="card-text text-muted mr">{{book.author}}</p>
        </div>
        <div style="height: 42px;">
            <hr style="color:yellowgreen;">
            <p class="card-text text-muted mr">{{book.language}}</p>
        </div>
    </div>
</div>