<div class="row justify-content-center" style="background-color: whitesmoke;">
    <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
        <h2 >Create New User</h2>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>User Name</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["username"]'></app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>Password</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["password"]' [type]='"password"'>
                </app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>Email</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["emailuser"]'></app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>Identity Number</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["idcard"]'></app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>Phone Number</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["phone"]'></app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                <label>Address</label>
                <label class="text-danger">*</label>
            </label>
            <label class="control-label reg-input">
                <app-text-input [formControl]='registerForm.controls["address"]'></app-text-input>
            </label>
        </div>
        <div class="form-group">
            <label class="control-label reg-label" style="margin-right: 10px;">
                Create Time
            </label>
            <label class="control-label reg-input">
                <input class="form-control" id="readOnlyInput" type="text" placeholder="{{createDate|date:'dd/MM/yyyy'}}" readonly="">
            </label>
        </div>

        <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>

        <div class="form-group text-center">
            <button [disabled]='!registerForm.valid' class="btn btn-primary mr-5" type="submit">Save</button>
            <button class="btn btn-secondary mr" routerLink="/lib-users" type="button">Cancel</button>
        </div>
    </form>
</div>