<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item">ca1</li>
            <li class="list-group-item">ca2</li>
            <li class="list-group-item">ca3</li>
            <li class="list-group-item">ca4</li>
        </ul>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let e of employees">
                <div class="col-2">
                    <app-lib-card-book [member]="member"></app-lib-card-book>
                </div>
            </ng-container>
        </div>
    </div>
</div>