<div class="modal-header">
    <h4 class="modal-title pull-left">Delete confirmation</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #rolesForm="ngForm" id="rolesForm">
        <p>Please confirm for deleting User:</p>
        <p>Id: {{user.id}} - Name: {{user.username}}</p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="updateRoles()">Confirm</button>
  </div>

