<div class="container" style="background-color:whitesmoke;">
    <div>
        <form>
            <h2>{{bookInfo.title}}</h2>
            <label class="row">
                <label>Author: </label>
                <label class="text-primary">{{bookInfo.author}}</label>
            </label>
            <label class="row">
                <label>Origin: </label>
                <label class="text-primary">{{bookInfo.origin}}</label>
            </label>
            <label class="row">
                <label>Language: </label>
                <label class="text-primary">{{bookInfo.language}}</label>
            </label>
            <label class="row">
                <label>Publish date: </label>
                <label class="text-primary">{{bookInfo.publishtime|date:'dd-MM-yyyy'}}</label>
            </label>
            <label class="row">
                <label>Catalogue: </label>
                <label class="text-primary">{{bookInfo.catalogue}}</label>
            </label>
            <hr>
        </form>
        <form>
            <h5>Summary</h5>
            <label class="row">{{bookInfo.summary}}</label>
            <div class="row">
                <button *ngIf="(accountService.currentUser$ | async)" type="button" class="btn btn-success"
                    (click)="goToRequestBorrow(bookInfo)">Borrow</button>
            </div>
            <hr>
        </form>
        <form>
            <h5>Admin/Librarian function</h5>
            <label class="row">
                <label>ISBN: </label>
                <label class="text-primary">{{bookInfo.isbn}}</label>
            </label>
            <label class="row">
                <label>Book available: </label>
                <label class="text-primary">{{bookInfo.id}}</label>
            </label>
            <div class="row">
                <div class="col-6">
                    <button *ngIf="(accountService.currentUser$ | async)" type="button" class="btn btn-outline-warning"
                        (click)="goToEditISBN()">Edit ISBN</button>
                </div>
                <div class="col-2">
                    <button *ngIf="(accountService.currentUser$ | async)" type="button" class="btn btn-outline-danger"
                        (click)="goToDeleteISBN(bookInfo)">Delete</button>
                </div>
            </div>

            <hr>
        </form>
    </div>
    <div *ngIf="(accountService.currentUser$ | async) as userLog">
        <div *ngIf="(userLog.roles.includes('Admin') || userLog.roles.includes('Librarian'))">
            <button type="button" class="btn btn-outline-primary" (click)="goToCreateISBN()">Create New ISBN</button>
        </div>
    </div>
</div>