<div class="card" style="background-color:whitesmoke;">
    <h1>Borrow book</h1>
    <form class="form" autocomplete="off">
        <div class="row">
            <div class="col-2">
                <div>
                    <label class="label">isbn</label>
                    <input class="input input-b-info" name="isbn" [(ngModel)]="bookInfo.isbn" readonly="">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label">Book name</label>
                    <input class="input input-b-info" name="bookname" [(ngModel)]="bookInfo.title" type="text"
                        readonly="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div>
                    <label class="label">Author</label>
                    <input class="input input-b-info" name="author" [(ngModel)]="bookInfo.author" type="text"
                        readonly="">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="label">Origin</label>
                    <input class="input input-b-info" name="origin" [(ngModel)]="bookInfo.origin" readonly="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div>
                    <label class="control-label reg-label" style="margin-right: 10px;">
                        <label>Borrow date</label>
                        <label class="text-danger">*</label>
                    </label>
                    <input type="text" class="input" placeholder="date" bsDatepicker
                        value="{{ borrowDate| date:'MM/dd/yyyy' }}" [(ngModel)]="borrowDate" name="borrowdate"
                        [minDate]='minDate' (bsValueChange)="resetLimitReturnDate()" />
                </div>
            </div>
            <div class="col-2">
                <div>
                    <label class="control-label reg-label" style="margin-right: 10px;">
                        <label>Return date</label>
                        <label class="text-danger">*</label>
                    </label>
                    <input type="text" class="input" placeholder="date" bsDatepicker
                        value="{{ returnDate| date:'MM/dd/yyyy' }}" [(ngModel)]="returnDate" name="returndate"
                        [minDate]='minReDate' [maxDate]='maxDate' />
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary mr-5" type="submit" (click)="addBorrowCard()">Submit</button>
            <button class="btn btn-secondary mr-2" routerLink="/book-list" type="button">Cancel</button>
        </div>
    </form>
</div>
<!--
<div>
    <label>Test borrow :  {{borrowDate|date:'yyyy-MM-dd' }}</label>
    <label>Test return: {{returnDate|date:'yyyy-MM-dd' }}</label>
    <label>user : {{user.id}}</label>
<label>user : {{user.username}}</label>
<label>user : {{bookInfo.id}}</label>
</div>
-->