<h1>Borrow List</h1>
<div class="row">
    <input name="searchuser" [(ngModel)]="keyWord" class="form-control mr-sm-2" style="width: 300px;" type="text"
        placeholder="Input user ID ...">
    <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="searchFunction()">Search</button>
</div>
<div>
    <p></p>
</div>
<div class="row">
    <table class="table">
        <tr class="table-secondary">
            <th style="width: 3%;">
                <a class="nav-link disabled" routerLink='/borrow-list' (click)="sort_Id()">User Id</a>
            </th>
            <th style="width: 10%;">
                <a class="nav-link disabled" routerLink='/borrow-list' (click)="sort_Name()">User Name</a>
            </th>
            <th style="width: 3%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Book Id</a>
            </th>
            <th style="width: 10%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Book ISBN</a>
            </th>
            <th style="width: 20%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Book Name</a>
            </th>
            <th style="width: 5%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Est Borrow</a>
            </th>
            <th style="width: 5%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Est Return</a>
            </th>
            <th style="width: 7%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Act Borrow</a>
            </th>
            <th style="width: 7%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Status</a>
            </th>
            <th style="width: 30%;">
                <a class="nav-link disabled" routerLink='/borrow-list'>Actions</a>
            </th>
        </tr>
        <tr *ngFor="let card of borrowList| paginate: { itemsPerPage: count, currentPage: p }">
            <td>{{card.iduser}}</td>
            <td>{{card.username|titlecase}}</td>
            <td>{{card.idbook}}</td>
            <td>{{card.isbnname}}</td>
            <td>{{card.titlebook}}</td>
            <td>{{card.borrowtime|date:'dd/MM/yyyy'}}</td>
            <td>{{card.returntime|date:'dd/MM/yyyy'}}</td>
            <td>
                <label *ngIf="isShowActBorrowTime(card)===true">
                    {{card.actborrowtime|date:'dd/MM/yyyy'}}
                </label>
                <label *ngIf="isShowActBorrowTime(card)===false">
                    --
                </label>
            </td>
            <td>{{card.states|titlecase}}</td>
            <td>
                <div class="row">
                    <button [disabled]='!isApproveDisable(card)' class="btn btn-primary mr-2" (click)="approveFunc(card)">Approve</button>
                </div>
                <div class="row">
                    <button [disabled]='!isApproveDisable(card)' class="btn btn-secondary mr-2" (click)="cancelFunc(card)">Cancel</button>
                </div>
                <div class="row">
                    <button [disabled]='!isBorrowDisable(card)' class="btn btn-success mr-2" (click)="openDeleteModal(card)">Return</button>
                </div>
            </td>
        </tr>
    </table>
    <!--Including the pagination control.-->
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>