<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='' routerLinkActive='active'>LMT</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/book-list' routerLinkActive='active'>Book list</a>
            </li>
            <ng-container *ngIf="accountService.currentUser$ | async">
                <!--
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
                -->
                <li class="nav-item" *appHasRole='["Admin", "Librarian"]'>
                    <a class="nav-link" routerLink='/lib-users' routerLinkActive='active'>Users</a>
                </li>
                <li class="nav-item" *appHasRole='["Admin", "Librarian"]'>
                    <a class="nav-link" routerLink='/lib-store' routerLinkActive='active'>Book management</a>
                </li>
                <li class="nav-item" *appHasRole='["Admin", "Librarian"]'>
                    <a class="nav-link" routerLink='/borrow-list' routerLinkActive='active'>Borrow</a>
                </li>


            </ng-container>
        </ul>

        <ul class="navbar-nav ml-2" *ngIf="(accountService.currentUser$ | async) === null">
            <li class="nav-item">
                <a class="nav-link " (click)="login()">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-2" *ngIf="(accountService.currentUser$ | async) as user">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="nav-link" routerLink='/members/{{user.username}}' routerLinkActive='active'>
                Welcome {{user.username | titlecase}}
            </a>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>

    </div>

</nav>