<div class="row">
    <div class="col-8">
        <fieldset>
            <h1 class="form-label mt-4" for="readOnlyInput">Personal Profile</h1>
            <button type="button" class="btn btn-outline-primary btn-lg btn-block" style="width: 1100px;">
                View borrow history
            </button>
            <p></p>
        </fieldset>
    </div>
</div>
<div class="row ml-2">
    <div class="col-8">
        <tabset class="member-tabset">
            <tr>
                <th style="width: 40%"></th>
                <th style="width: 20%"></th>
                <th style="width: 40%"></th>
            </tr>
            <tr>
                <td><p>User Name</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{member.username|titlecase}}" readonly="">
                </td>
            </tr>
            <tr>
                <td><p>Email</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control card-info-user" id="readOnlyInput" type="text" placeholder="{{member.emailuser}}" readonly="">
                </td>
            </tr>
            <tr>
                <td><p class="card-label-info-user">Identity Number</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{member.idcard}}" readonly="">
                </td>
            </tr>
            <tr>
                <td><p>Phone Number</p></td>
                <td><p></p></td>
                <td> <div class="card">
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{member.phone}}" readonly="">
                </div></td>
            </tr>
            <tr>
                <td><p>Address</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{member.address}}" readonly="">
                </td>
            </tr>
            <tr>
                <td><p>Create Time</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{member.created|date:'dd/MM/yyyy'}}" readonly="">
                </td>
            </tr>
            <tr>
                <td><p>Charge Fine</p></td>
                <td><p></p></td>
                <td>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="0" readonly="">
                </td>
            </tr>
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td>
                    <button class="btn btn-secondary btn-lg mr-5" (click)="backFunc()">{{labelBackBtn}}</button>
                    <button *ngIf="modeCurrentUser" class="btn btn-danger btn-lg" routerLink='/change-pass'>Change Password</button>
                </td>
            </tr>
        </tabset>
    </div>
    <div class="col text-center">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
        <button *ngIf="modeCurrentUser" type="button" class="btn btn-outline-secondary" routerLink='/photo-user-edit'>Change Photo</button>
    </div>
</div>