<div class="row">
    <div *ngIf="isShowMenu" class="col-3">
        <ul class="list-group">
            <li class="list-group-item">ca1</li>
            <li class="list-group-item">ca2</li>
            <li class="list-group-item">ca3</li>
            <li class="list-group-item">ca4</li>
        </ul>
    </div>
    <div class="col">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search book" name="search-info" [(ngModel)]="keyWord">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="searchFunction()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let info of bookInfoList| paginate: { itemsPerPage: countPage, currentPage: pageCur };
                                    let i = index">
                <div class="col">
                    <app-lib-card-book [book]="info" (submitBookInfo)="getSelectedtBook($event)"></app-lib-card-book>
                </div>
                <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
        <div class="row">
            <!--Including the pagination control.-->
            <div class="text-right">
                <pagination-controls (pageChange)="pageCur = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div *ngIf="isShowInfo" class="col-3 body-info">
        <app-lib-book-info [bookInfo]="bookInfo" (reloadList)="reloadListFunc($event)"></app-lib-book-info>
    </div>
</div>