<div class="row">
    <div class="col-3" style="background-color:whitesmoke;">
        <div class="group">
            <div>
                <div>
                    <h5>Catalogue</h5>
                    <hr>
                </div>
                <div class="form-check" *ngFor="let item of arrCatalogue">
                    <input type="checkbox"
                        class="form-check-input"
                        [checked]="isCheck(item,arrCheckStatus_catalogue)"
                        (change)="isShow_Catalogue(isCheck(item,arrCheckStatus_catalogue),item) "
                    >
                    <label>{{item}}</label>
                  </div>
            </div>
            <div *ngIf="isShowMenu">
                <div>
                    <h5>Author</h5>
                    <hr>
                </div>
                <div class="form-check" *ngFor="let item of arrAuthor">
                    <input type="checkbox"
                        class="form-check-input"
                        [checked]="isCheck(item,arrCheckStatus_author)"
                        (change)="isShow_author(isCheck(item,arrCheckStatus_author),item) "
                    >
                    <label>{{item}}</label>
                </div>
            </div>
            <div *ngIf="isShowMenu">
                <div>
                    <h5>Languge</h5>
                    <hr>
                </div>
                <div class="form-check" *ngFor="let item of arrLanguage">
                    <input type="checkbox"
                        class="form-check-input"
                        [checked]="isCheck(item,arrCheckStatus_language)"
                        (change)="isShow_language(isCheck(item,arrCheckStatus_language),item) "
                    >
                    <label>{{item}}</label>
                </div>
            </div>
            <div *ngIf="isShowMenu" >
                <div>
                    <h5>Origin</h5>
                    <hr>
                </div>
                <div class="form-check" *ngFor="let item of arrOrigin">
                    <input type="checkbox"
                        class="form-check-input"
                        [checked]="isCheck(item,arrCheckStatus_origin)"
                        (change)="isShow_origin(isCheck(item,arrCheckStatus_origin),item) "
                    >
                    <label>{{item}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search book" name="search-info"
                    [(ngModel)]="keyWord">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="searchFunction()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let info of bookInfoList| paginate: { itemsPerPage: countPage, currentPage: pageCur };
                                    let i = index">
                <div class="col">
                    <app-lib-card-book [book]="info" (submitBookInfo)="getSelectedtBook($event)"></app-lib-card-book>
                </div>
                <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
        <div class="row">
            <!--Including the pagination control.-->
            <div class="text-right">
                <pagination-controls (pageChange)="pageCur = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div *ngIf="isShowInfo" class="col-3 body-info">
        <app-lib-book-info [bookInfo]="bookInfo" (reloadList)="reloadListFunc($event)"></app-lib-book-info>
    </div>
</div>