<div class="row">
    <table class="table">
        <tr class="table-secondary">
            <th style="width: 2%;">User Id</th>
            <th style="width: 10%;">User Name</th>
            <th style="width: 15%;">Email</th>
            <th style="width: 8%;">Identity No</th>
            <th style="width: 10%;">Address</th>
            <th style="width: 5%;">Phone</th>
            <th style="width: 5%;">Type</th>
            <th style="width: 5%;">Charge Fine</th>
            <th style="width: 40%;">Actions</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.emailuser}}</td>
            <td>{{user.idcard}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.roles}}</td>
            <td>{{user.chargefile}}</td>
            <td>
                <button  class="btn btn-primary mr-2" routerLink='/members/{{user.username}}'>View</button>
                <button  class="btn btn-warning" routerLink='/members/edit'>Edit</button>
                <button  class="btn btn-danger ml-2">Delete</button>
            </td>
        </tr>
    </table>
</div>
